.about-section-panel{
    display:flex;
    padding: 50px;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
}
.section-title,#vision,#mission,#values{
    width: 40%;
    padding: 50px;

}
.section-title{
   display: flex;
   justify-content: center;
   
   flex-direction: column;
}
.section-title>h2{
   padding: 0;
   margin: 0;

}
#mission,#vision,#values{
    background-color: #F5F7FA;
}
