.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-section-panel{
    padding: 15px;
}
.navbar-links{
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 35%;

}
/* .navbar-links a{
    font-size: 20px;
} */
.nav-contact-button{

color: rgb(255, 255, 255);
padding: 5px;
  border-radius: 5px;  
 font-style: normal;  background:#28CB8B; 
 }