.service-card{
    box-shadow: 5px 5px 8px 0px rgba(1,0,0,0.42);
     /* width: 100px;
 height: 60px;
 color: #FFF;*/
 padding: 50px; 
  border-radius: 5px;
  background-color: #FFFFFF;

}
.services-section-panel{
    display:flex;
    flex-direction: column;
    background-color: #F5F7FA;
    padding: 50px;
   
    
}
.h2{

}
.services-grid{
    display: flex;
    flex-direction: row;
  
padding: 50px;
column-gap: 50px;

 /* row-gap: 10px; */

}
.service-section-title{
    text-align: center;

}