/* h1,h2,p,h3,h4,h5,h6{
  font-family:  'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

:root {
  
  --fs-h1: 48px;
  --fs-h2: 25px;
  --fs-h3: 24px;
  --fs-h4: 20px;


  --fs-body-lg: 18px;
  --fs-body-md: 16px;
  --fs-body-sm: 14px;
}
h1 {
  font-size: var(--fs-h1);
  font-weight: 700; /* Bold as seen in the 'Headline 1' style */
  /* line-height: 1.2; */
/* } */

/* h2 {
  font-size: var(--fs-h2);
  font-weight: 600;
}

p {
  font-size: var(--fs-body-md);
  line-height: 1.6; 
}
.navbar-links>a{
color: #4D4D4D;
}
.home-content>h3,.service-card>p,.contact-info p,form p {
  color: #717171
}
html {
  scroll-behavior: smooth;
}
.about-section-panel p{
color:#717171;
}
a { text-decoration: none; } */ 